html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color: #fff;
  text-decoration: none;
}

a.button {
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

.app-wrap {
  max-width: 540px;
  height: 90vh;
  margin: 5vh auto;
  border: 10px solid rgba(0, 0, 0, 0.8);
  border-bottom-width: 70px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.content {
  padding: 20px;
  background: #fff;
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

.content img {
  max-width: 50%;
  float: left;
  margin-right: 10px;
}

.icon-bar a {
  text-align: center;
  padding: 1.5rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background: #efca51;
  color: rgba(0, 0, 0, 0.5);
}

.icon-bar a:first-child {
  border-left: 0;
}

.icon-bar a:first-child, .icon-bar a:hover {
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.icon-bar {
  border-top: 1px solid #e6e6e6;
}

.icon-bar i {
  display: block;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}

.app-header {
  background: #f0cb45;
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.app-wrap {
  display: flex;
  flex-direction: column;
}

.app-wrap > * {
  flex: 1 1 auto;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.icon-bar {
  display: flex;
}

.icon-bar a {
  flex: 1;
}