<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js v1 Learning</title>
</head>
<body>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <div id="app">

    <!-- First testing... -->
    <!--
    <p>{{ message }}</p>
    <input v-model="message">
    <button v-on:click="reverseMessage">Reverse Message</button>

    <ul>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ul>
    -->

    <!-- Basic Tod -->
    <input v-model="newTodo" v-on:keyup.enter="addTodo">
    <ul>
      <li v-for="todo in todos">
        <span>
          <strong v-if="todo.priority">{{ todo.text }}</strong>
          <template v-else>{{ todo.text }}</template>
        </span>
        <label>
          Priority: <input type="checkbox" v-on:change="togglePriority($index)" v-model="todo.priority"></button>
        </label>
        <button v-on:click="removeTodo($index)">X</button>
      </li>
    </ul>
  </div>
  <script src="app.js"></script>
</body>
</html>
